---
http_interactions:
- request:
    method: post
    uri: https://api.hackerone.com/v1/reports
    body:
      encoding: UTF-8
      string: '{"data":{"type":"report","attributes":{"team_handle":"github","title":"hi","vulnerability_information":"hi","impact":"string","severity_rating":"none","source":"api"}}}'
    headers:
      Authorization:
      - Basic Zm9vOmJhcg==
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1337","type":"report","attributes":{"title":"hi","state":"new","created_at":"2024-02-07T12:00:00.000Z","vulnerability_information":"hi","triaged_at":null,"closed_at":null,"last_reporter_activity_at":"2024-02-07T12:00:00.000Z","first_program_activity_at":"2024-02-07T12:00:00.000Z","last_program_activity_at":"2024-02-07T12:00:00.000Z","bounty_awarded_at":null,"swag_awarded_at":null,"disclosed_at":null,"reporter_agreed_on_going_public_at":null,"last_public_activity_at":"2024-02-07T12:00:00.000Z","last_activity_at":"2024-02-07T12:00:00.000Z","source":"api"},"relationships":{"reporter":{"data":{"id":"12345","type":"user"}},"program":{"data":{"id":"54321","type":"program"}}}}}'
  recorded_at: Wed, 06 May 2020 23:02:53 GMT
recorded_with: VCR 5.1.0
